.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  height: 100vh;
}

.box {
  width: 450px;
  height: 350px;
  background: #000000;
  border-radius: 20px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.363);
}
